.git
.gitignore
.gitattributes

.idea
*.iml
*.iws
*.ipr
.vscode

build/
out/
target/
bin/

.gradle
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

node_modules/
package-lock.json

.env
.env.*
!.env.example

*.md

*.log
logs/

src/test/

docker-compose*.yml
Dockerfile*

.DS_Store
*.swp
*.bak
